In [1]:
import ipynb.fs.defs.hyperas as hyperas_nb

Using TensorFlow backend.

In [49]:
def evaluate(result, x_val, y_val, th=0.05, min_odds=1, agree=0, agree_odds=1, model_index=None):
    import numpy as np
    import pandas as pd
    
    profits = pd.DataFrame()
    profits.columns=[]
    r = None
    for i, model in enumerate(result['result']['model']):
        if model_index is not None:
            if i != model_index:
                continue
        y_pred = model.predict(x_val)
        odds = np.abs(y_val)
        sel = y_pred > (1 / odds + th) 
        if r is None:
            r = pd.DataFrame(sel).astype('int')
        else:
            r = r + sel
        profit = (sel & (odds > min_odds)) * (odds * y_val.clip(0,1) - 1)
                
        pr = profit.sum()        
        co = (profit != 0).sum()

        columns = list(profits.columns) + ['P_%02d' % i, 'C_%02d' % i]
        profits = pd.concat([profits, pr, co], axis=1, sort=False)
        profits.columns = columns

    if model_index is None:
        sel = (r > agree) & (odds > agree_odds)
        profit = sel * (odds * y_val.clip(0,1) - 1)

        pr = profit.sum()        
        co = (profit != 0).sum()

        columns = list(profits.columns) + ['P', 'C']
        profits = pd.concat([profits, pr, co], axis=1, sort=False)
        profits.columns = columns
        
        total = profits[['P','C']].sum()
        l = pd.DataFrame(list(total.values) + [ total.iloc[0] / total.iloc[1] ])
        l.index = profits.index
        l.columns = ['Total']

        profits = pd.concat([profits, l], axis=1, sort=False)

    return profits

In [45]:
import glob
models = glob.glob('hyperparameter/cross_profit_model_*.h5')

In [46]:
import re
import keras
keras.backend.clear_session()
for model in models:
    league = re.search('(\d+)_([A-Z]+\d)', model).group(2)
    result = hyperas_nb.restore_model(model)
    print(league, -result['result']['loss'])
    x_test, y_test, x_val, y_val = hyperas_nb.data('data/%s_processed.csv' % league)
    d = evaluate(result, x_val, y_val, min_odds=2, agree_odds=2, agree=2)
    display(d)

D1 79.45

           P_00  C_00  P_01  C_01   P_02  C_02      P   C      Total
odds-home  4.76    39  7.56    41   1.04    31  10.04  22  22.040000
odds-draw  1.00     9 -2.00     7   6.29     7   4.00   1  33.000000
odds-away  0.00    18 -8.61    30  13.65    38   8.00  10   0.667879

D1 68.87

           P_00  C_00  P_01  C_01   P_02  C_02     P   C      Total
odds-home  0.77    37  4.95    26  -1.85    26  1.86  16  11.860000
odds-draw  2.59    23 -2.36    26   0.79    17  3.00   2  29.000000
odds-away -3.61    25 -1.95    33  13.83    41  7.00  11   0.408966

E0 12.440000000000005

,P_00,C_00,P_01,C_01,P_02,C_02,P_03,C_03,P_04,C_04,...,C_06,P_07,C_07,P_08,C_08,P_09,C_09,P,C,Total
odds-home,9.79,34,19.08,30,14.97,39,14.61,41,2.01,42,...,48,20.05,54,13.68,30,7.93,38,16.76,47,21.000000
odds-draw,10.50,23,-5.78,22,10.50,29,-4.50,25,1.35,33,...,28,10.70,26,0.50,20,-1.40,31,5.50,34,119.000000
odds-away,-2.00,25,-0.26,37,-20.15,32,-22.01,35,-18.15,30,...,27,-16.90,24,-25.26,43,-2.11,31,-1.26,38,0.176471

D1 121.16000000000001

,P_00,C_00,P_01,C_01,P_02,C_02,P_03,C_03,P_04,C_04,...,C_06,P_07,C_07,P_08,C_08,P_09,C_09,P,C,Total
odds-home,-0.81,40,8.05,29,1.19,33,1.48,40,5.34,34,...,30,2.60,29,4.13,35,5.70,29,1.19,38,-4.320000
odds-draw,2.00,3,4.00,6,-5.00,5,3.00,7,-1.00,6,...,6,5.00,5,3.00,7,-1.00,6,2.00,8,78.000000
odds-away,-5.51,30,-2.61,24,-6.51,31,-3.51,28,3.10,18,...,32,1.09,27,-7.51,32,-0.76,30,-7.51,32,-0.055385

E0 54.199999999999996

           P_00  C_00  P_01  C_01   P_02  C_02     P  C     Total
odds-home  1.63    10  7.17    28  16.38    32  1.49  3  1.490000
odds-draw  4.50     4 -5.61    15  13.80    32  0.00  0  3.000000
odds-away -0.30     3 -4.40    15 -12.40    35  0.00  0  0.496667

SC0 51.97

           P_00  C_00  P_01  C_01  P_02  C_02    P  C  Total
odds-home  1.43     5 -1.00     1 -3.53    10 -1.0  1  2.500
odds-draw -0.50     4  2.60    11  2.50     1  2.5  1  4.000
odds-away -2.01    10 -2.05    14 -0.71     7  1.0  2  0.625

I1 54.22000000000002

           P_00  C_00  P_01  C_01   P_02  C_02     P  C     Total
odds-home -0.82     9 -5.61     8  -3.51     8 -1.61  4 -4.610000
odds-draw -6.71    10 -4.00     7 -10.71    14 -1.00  1  7.000000
odds-away -6.50     9 -1.25     5  -3.00     3 -2.00  2 -0.658571

I1 39.92

           P_00  C_00   P_01  C_01  P_02  C_02     P  C     Total
odds-home  0.39     2  -1.61     4 -0.61     3  1.39  1 -0.110000
odds-draw  2.59    12 -11.11    22 -9.21    20  1.50  3  7.000000
odds-away -8.81    18 -10.50    13 -2.92     7 -3.00  3 -0.015714

SP1 35.85000000000001

           P_00  C_00  P_01  C_01  P_02  C_02      P  C      Total
odds-home  4.02    16 -8.63    35 -9.86    19  -5.00  5   5.330000
odds-draw  7.72    16  8.42    26  1.53    22  12.33  8  15.000000
odds-away  0.83    12 -6.24    15  3.69     6  -2.00  2   0.355333

F1 -31.130000000000006

           P_00  C_00  P_01  C_01   P_02  C_02    P   C  Total
odds-home  0.38     7  0.99    11   1.13    24 -1.0   1    6.0
odds-draw  5.00    13  1.00    17  16.86    54  7.0  11   12.0
odds-away  4.48    15  0.50     2   2.00     2  0.0   0    0.5

N1 16.84

           P_00  C_00  P_01  C_01   P_02  C_02     P   C   Total
odds-home  5.42    21  0.70    37   8.81    34  2.57  14  20.190
odds-draw  1.95    42  3.65    52  14.42    62  8.62  13  30.000
odds-away  6.63    34  6.15    29  -4.55    25  9.00   3   0.673

B1 5.41

            P_00  C_00   P_01  C_01  P_02  C_02    P  C  Total
odds-home  -9.97    18  -2.90    12 -6.66    16 -2.0  2   -8.0
odds-draw  12.40    28  -3.10    40 -2.32    21 -3.0  3    8.0
odds-away -17.01    25 -10.83    33 -7.91    24 -3.0  3   -1.0

B1 0.4800000000000013

           P_00  C_00   P_01  C_01   P_02  C_02      P   C    Total
odds-home -4.04    14  -3.37    17  -1.90     4   0.00   0  -8.3500
odds-draw  1.00     3   2.13    17   1.88    21   3.00   1  20.0000
odds-away -7.69    33 -11.76    28 -18.06    39 -11.35  19  -0.4175

B1 -0.5899999999999963

            P_00  C_00   P_01  C_01  P_02  C_02    P  C      Total
odds-home  -7.22    18  -4.61    13 -2.56    18  0.0  6  -5.500000
odds-draw   8.53    27   0.01    22  0.61    21 -1.5  5  15.000000
odds-away -12.51    25 -18.95    32 -7.50    14 -4.0  4  -0.366667

In [50]:
def cross_evaluate(model, x_train, y_train):
    import pandas as pd

    from sklearn.model_selection import KFold
    kfold = KFold(n_splits=len(result['result']['model']), random_state=42)

    profits = pd.DataFrame()
    profits.columns=[]

    for i, (trainidx, testidx) in enumerate(list(kfold.split(x_train))):
        x_test = x_train.iloc[testidx]
        y_test = y_train.iloc[testidx]

        pr = evaluate(result, x_test, y_test, model_index=i)
        columns = list(profits.columns) + list(pr.columns)
        profits = pd.concat([profits, pr], axis=1, sort=False)
        profits.columns = columns
    
    return profits

In [51]:
cross_evaluate(result, x_test, y_test)

           P_00  C_00  P_01  C_01  P_02  C_02
odds-home  2.05    11 -1.04    11 -0.96    11
odds-draw  0.89    11 -5.61     9  7.49    11
odds-away -3.57     7 -3.09    11  3.25     9

In [52]:
# Transfer learning

In [74]:
model = hyperas_nb.restore_model('hyperparameter/cross_profit_model_02_D1.h5')

In [75]:
evaluate(result, x_val, y_val, min_odds=2, agree_odds=2, agree=2)

            P_00  C_00   P_01  C_01  P_02  C_02    P  C      Total
odds-home  -7.22    18  -4.61    13 -2.56    18  0.0  6  -5.500000
odds-draw   8.53    27   0.01    22  0.61    21 -1.5  5  15.000000
odds-away -12.51    25 -18.95    32 -7.50    14 -4.0  4  -0.366667

In [78]:
x_train, y_train, x_val, y_val = hyperas_nb.data('data/B1_processed.csv')

from sklearn.model_selection import KFold
from keras_tqdm import TQDMNotebookCallback
kfold = KFold(n_splits=3, random_state=42)
for i, (trainidx, testidx) in enumerate(list(kfold.split(x_train))):
    xx_train = x_train.iloc[trainidx]
    x_test = x_train.iloc[testidx]

    yy_train = y_train.iloc[trainidx]
    y_test = y_train.iloc[testidx]
    
    m = model['result']['model'][i]
    
    m.fit(xx_train, yy_train.clip(0,1),
          64,
          epochs=500,
              verbose=0,
              validation_data=(x_test, y_test.clip(0,1)),
              callbacks=[TQDMNotebookCallback(show_inner=False)]
             )

    display(hyperas_nb.evaluate(m, x_val, y_val))

HBox(children=(IntProgress(value=0, description='Training', max=500, style=ProgressStyle(description_width='in…

           Profit  Bets   Margins      Total
odds-home  -10.40    28 -0.371429  -8.140000
odds-draw   11.82    27  0.437778  75.000000
odds-away   -9.56    20 -0.478000  -0.108533

HBox(children=(IntProgress(value=0, description='Training', max=500, style=ProgressStyle(description_width='in…

           Profit  Bets   Margins    Total
odds-home   -4.49    24 -0.187083 -23.1300
odds-draw    1.01    21  0.048095  75.0000
odds-away  -19.65    30 -0.655000  -0.3084

HBox(children=(IntProgress(value=0, description='Training', max=500, style=ProgressStyle(description_width='in…

           Profit  Bets   Margins      Total
odds-home   -2.28    40 -0.057000 -12.360000
odds-draw   -3.53    17 -0.207647  77.000000
odds-away   -6.55    20 -0.327500  -0.160519

In [79]:
evaluate(result, x_val, y_val, min_odds=2, agree_odds=2, agree=2)

            P_00  C_00   P_01  C_01  P_02  C_02    P  C      Total
odds-home  -7.22    18  -4.61    13 -2.56    18  0.0  6  -5.500000
odds-draw   8.53    27   0.01    22  0.61    21 -1.5  5  15.000000
odds-away -12.51    25 -18.95    32 -7.50    14 -4.0  4  -0.366667